<p id="notice"><%= notice %></p>
<center>

<% if @event.link.present? %>
	<a href="<%= @event.link %>">
<% end %>

<% if @event.image.present? %>
<img border="0" src="http://bythewaymag.com/images/event/<%= @event.image %>"/>
<% end %>

<% if @event.name.present? %>
<h1><%= @event.name %></h1>
<% end %>

<% if @event.link.present? %>
	</a>
<% end %>

<p>
	<%= simple_format(@event.details) %>
</p>

<p><b>
<%= @event.start_at.strftime("%a %d %b %Y") %>
</b></p>

<% if @event.time.present? %>
<p><b><%= @event.time %></b></p>
<% end %>

<% if @event.location.present? %>
<p><%= simple_format(@event.location) %></p>
<% end %>

<% if @event.gmap.present? %>
<p><%= @event.gmap.html_safe %></p>
<% end %>

<p>
	<b><%= link_to "Return to Calendar", root_path %></b>
</p>

<% if signed_in? %>
<p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</p>
<% end %>

</center>